apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: swagger2mcp
  labels:
    app.kubernetes.io/name: swagger2mcp
    app.kubernetes.io/component: redis
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      name: redis
  selector:
    app.kubernetes.io/name: swagger2mcp
    app.kubernetes.io/component: redis
