apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: swagger2mcp
  labels:
    app.kubernetes.io/name: swagger2mcp
    app.kubernetes.io/component: postgres
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    app.kubernetes.io/name: swagger2mcp
    app.kubernetes.io/component: postgres
